html {
  background-color: white;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

article{
  background-color: white;
}

a{
  text-decoration: none;
}

.top-container{
  display: flex;
  justify-content: space-between;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  text-align: left;
  text-decoration-line: none;
  font-size: small;
}

.main-nav img{
  width: 20%;
}

.nav-img{
  margin-right: 20%;
  padding-bottom: 13.5px;
}

.nav-link{
  color: black;
}

.nav-link:focus{
  color: #0065FC;
  outline: none;
  border-top: #0065FC solid 2px;
}

.sign-up{
  color: #0065fc;
  outline: none;
  font-weight: bold;
}

.title{
  text-decoration-line: none;
  font-size: medium;
}

.downtown{
  font-size: 12px;
  font-weight: lighter;
}

.search-bar{
  border-width: thin;
  border-style: solid;
  border-color: #f2f2f2;
  text-align: left;
  padding: 10px 15px 8px 10px;
  margin-right: -4px;
  margin-left: -4px;
  text-decoration-line: none;
  font-weight: 700;
  font-size: small;
}

.search-bar::placeholder{
  color: black;
  opacity: 1;
}

.search-button{
  text-align: left;
  background-color: #0065FC;
  color: white;
  border-radius: 0 10px 10px 0;
  border: unset;
  padding: 9px;
  text-decoration-line: none;
}

.search-bar:hover{
  outline: none;
}

.search-icon{
  padding: 8.65px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search-phone{
  display: none;
}

.button{
  border: solid medium #f2f2f2;
  border-radius: 30px;
  color: black;
  text-decoration-line: none;
  background-color: white;
  font-weight: bold;
  margin: 0 10px;
  font-size: 1rem;
  padding: 0;
  height: 35px;
}

.button:hover{
  background-color: gray;
  outline: none;
}

.filter-buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0;
}

.filter-icon{
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-left: -7px;
  display: inline-block;
  height: 22px;
  width: 32px;
  padding-top: 9px;
  text-align: center;
  vertical-align: middle;
  font-size: small;
}

.filter-text{
  padding: 0 10px 0 5px;
  margin: 0;
  vertical-align: middle;
  font-size: small;
}

.filter-buttons h2{
  font-size: small;
  margin-right: 15px;
}

.info-icon{
  border-width: thin;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 20px;
  padding: 4px 7px 4px 7px;
  color: #0065fc;
  font-size: 0.75rem;
}

.info-text{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  margin-left: 5px;
  font-size: 12px;
}

.accom{
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 60%;
  padding: 20px;
}

.accom h3{
  width: 100%;
  height: 5%;
}

.accom-cardwrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  overflow: auto;
}

.accom-card{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  width: 30%;
}

.accom-card img{
  width: 100%;
  height: 90px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.accom-text{
  text-decoration-line: none;
  color: black;
  font-size: small;
  margin-left: 10px;
}

.accom-text *{
  margin: 3px 0;
}

.accom-rating{
  max-width: 25px;
  max-height: 25px;
  display: flex;
  flex-direction: row;
}

.show-more{
  text-align: left;
  text-decoration-line: none;
  color: black;
  font-weight: bold;
}

.popular{
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
}

.pop-icon h3{
  max-width: 300px;
  font-size: 15px;
  padding-left: 20px;
}

.pop-cardwrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pop-card{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
  width: 90%;
  box-sizing: border-box;
}

.pop-card img{
  width: 35%;
  box-sizing: border-box;
  height: 90px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.pop-card a{
  display: flex;
}

.pop-text{
  text-decoration-line: none;
  color: black;
  font-size: small;
  margin-left: 5%;
  width: 60%;
}

.pop-text *{
  margin: 0;
}

.pop-text h4{
  height: 40%;
}

.pop-text p{
  height: 40%;
  font-size: 11px;
}

.pop-text div{
  font-size: 10px;
}

.pop-rating{
  max-width: 25px;
  max-height: 25px;
  display: flex;
  flex-direction: row;
}

.pop-icon{
  display: flex;
  justify-content: space-between;
}

.grey-star-icon{
  color: #f2f2f2;
}

.star-icon{
  color: #0065FC;
}

.bold{
  font-weight: bold;
}

.activities{
  border-radius: 10px;
  padding: 20px;
  color: black;
}

.activities h3{
  max-width: 160px;
  font-size: 15px;
}

.act-cardwrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.act-card{
  background-color: white;
  border-radius: 15px;
}

.act-fort{
  width: 100%;
  height: 125px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.act-frioul{
  width: 100%;
  height: 75px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.act-notre{
  width: 100%;
  height: 90px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.act-longchamp{
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.act-text{
  text-decoration-line: none;
  color: black;
  font-size: small;
}

.act-stack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.act-stack .act-text{
  padding-left: 10px;
}

.act-tall, .act-stack{
  width: 22%;
  overflow: hidden;
}

.act-tall img{
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.act-tall .act-text{
  padding-left: 10px;
}

.footer{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;justify-content: space-between;
  padding-left: 20px;
  padding-right: 25%;
  padding-bottom: 20px;
  font-size: small;
}

@media screen and (min-width: 480px) and (max-width: 900px){
  .main-nav{
    flex-wrap: wrap;
  }

  .main-nav img{
    width: 35%;
  }

  .main-nav a{
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .nav-img{
    margin: 0;
    padding: 0;
  }

  .main-nav a:nth-child(1){
    order: 1;
  }

  .main-nav a:nth-child(2){
    order: 3;
  }

  .main-nav a:nth-child(3){
    order: 4;
  }

  .main-nav a:nth-child(4){
    order: 2;
  }

  .sign-up{
    text-align: right;
    margin-top: 20px;
  }

  .nav-img{
    margin-bottom: 20px;
  }

  .nav-link{
    border-bottom: 3px solid #f2f2f2;
    text-align: center;
    font-size: larger;
    font-weight: normal;
  }

  .nav-link *{
    display: flex;
    flex-direction: row;
  }

  .nav-link:focus{
    border-bottom: #0065FC 3px solid;
    outline: none;
    border-top: none;
  }

  .title{
    margin-left: 5px;
  }

  .search{
    margin-left: 5px;
  }

  .filter-buttons{
    margin-left: 5px;
  }

  .info-icon{
    margin-left: 5px;
  }

  .downtown{
    margin-left: 5px;
  }

  .top-container{
    flex-direction: column-reverse;
  }

  .top-container a:nth-child(1){
    order: 2;
  }

  .top-container a:nth-child(2){
    order: 1;
  }

  .top-container a:nth-child(3){
    order: 3;
  }

  .popular{
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    margin: 15px 0;
  }

  .pop-cardwrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .pop-card{
    box-sizing: border-box;
    width: 30%;
  }

  .pop-card img{
    object-fit: cover;
    height: 90px;
    width: 35%;
  }

  .accom{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
  }
}

@media screen and (max-width: 480px){

  .top-container{
    flex-direction: column-reverse;
  }
  
  .main-nav{
    flex-wrap: wrap;
  }

  .main-nav img{
    width: 35%;
  }

  .main-nav a{
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .nav-img{
    margin: 0;
    padding: 0;
  }

  .main-nav a:nth-child(1){
    order: 1;
  }

  .main-nav a:nth-child(2){
    order: 3;
  }

  .main-nav a:nth-child(3){
    order: 4;
  }

  .main-nav a:nth-child(4){
    order: 2;
  }

  .sign-up{
    text-align: right;
    margin-bottom: 20px;
  }

  .nav-img{
    margin-bottom: 20px;
  }

  .nav-link{
    border-bottom: 3px solid #f2f2f2;
    text-align: center;
  }

  .nav-link *{
    display: flex;
    flex-direction: row;
  }

  .nav-link:focus{
    border-bottom: #0065FC 3px solid;
    outline: none;
    border-top: none;
  }

  .title{
    font-size: larger;
    width: 315px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -5px;
  }

  .downtown{
    font-size: 13px;
    font-weight: normal;
  }

  .filter-buttons h2:nth-child(1){
    order: 1;
    width: 100%;
  }

  .filter-buttons button:nth-child(2){
    order: 2;
    margin-bottom: 12px;
  }

  .filter-buttons button:nth-child(3){
    order: 4;
    margin-right: 80px;
    margin-bottom: 12px;
  }

  .filter-buttons button:nth-child(4){
    order: 3;
  }

  .filter-buttons button:nth-child(5){
    order: 5;
    padding-right: 25px;
    margin-bottom: 10px;
  }

  .info-text{
    margin-bottom: 20px;
    margin-left: 0;
    font-weight: lighter;
    font-size: medium;
  }

  .search-bar{
    padding-right: 20px;
  }

  .search-button{
    border-radius: 10px;
  }

  .search-phone{
    display: inline-block;
    padding: 5px 3px 0 3px;
  }

  .search-desk{
    display: none;
  }
  
  .accom{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .accom h3{
    text-align: center;
    margin-right: 0;
  }

  .accom-cardwrap{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
  }

  .accom-card{
    width: 90%;
  }

  .accom-text h4{
    font-size: medium;
    font-weight: bold;
  }

  .accom-text p{
    font-size: small;
    font-weight: lighter;
  }

  .activities{
    background-color: white;
    width: 100%;
  }

  .act-tall{
    margin: 0;
  }

  .act-stack{
    margin: 0;
  }

  .act-card{
    width: 70%;
    margin: 0;
  }

  .popular{
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
  }

  .pop-card{
    box-sizing: border-box;
  }

  .pop-card img{
    object-fit: cover;
    height: 110px;
    width: 35%;
  }

  .pop-icon-2{
    margin-top: 17px;
  }

  .pop-text h4{
    font-size: large;
    font-weight: bold;
  }

  .pop-text p{
    font-size: small;
    font-weight: lighter;
  }

  .star-icon{
    color: #0065FC;
  }

  .activities{
    padding: 0;
  }

  .act-cardwrap{
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .act-card{
    margin: 0 auto;
    height: 20%;
    width: 80%;
  }

  .act-tall{
    width: 100%;
    height: 20%;
  }

  .act-stack{
    width: 100%;
    height: 20%;
  }

  .act-tall img{
    width: 100%;
    height: 100px;
  }

  .act-stack img{
    width: 100%;
    height: 100px;
  }

  .footer{
    display: flex;
    flex-direction: column;
  }
}